In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import StandardScaler
from IPython.display import display, HTML
import re

In [2]:
data = pd.read_csv('isedataset.csv')

df = data.copy()

In [3]:
def getting_primary_info(df):
    print("------------------------------------------------------")
    print("Veri setinin şekli", df.shape)
    print("------------------------------------------------------")
    print("Veri seti değişken tipleri:\n", df.dtypes)
    print("------------------------------------------------------")
    print("Veri setinin ilk 5 satırı")
    display(HTML(df.head().to_html()))
    print("------------------------------------------------------")
    print("Veri setinin istatistiki verileri")
    description = df.describe()
    display(HTML(description.to_html()))
    print("------------------------------------------------------")  
getting_primary_info(df)

------------------------------------------------------
Veri setinin şekli (115986, 9)
------------------------------------------------------
Veri seti değişken tipleri:
 Unnamed: 0     object
Open          float64
High          float64
Low           float64
Close         float64
Volume          int64
Symbol         object
Predict       float64
Unnamed: 8    float64
dtype: object
------------------------------------------------------
Veri setinin ilk 5 satırı

------------------------------------------------------
Veri setinin istatistiki verileri

------------------------------------------------------

In [4]:
df = df.drop(columns=['Unnamed: 8'])

In [5]:
df['MA5'] = df.groupby('Symbol')['Close'].transform(lambda x: x.rolling(5).mean())

In [6]:
df['MA5'] = df['MA5'].fillna(0)

In [7]:
def calculate_rsi(data, window=14):
    delta = data.diff()

    gain = (delta.where(delta > 0, 0)).rolling(window=window).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=window).mean()

    rs = gain / loss
    rsi = 100 - (100 / (1 + rs))
    
    return rsi

df['RSI'] = calculate_rsi(df['Close'])

In [8]:
df["RSI"] = df["RSI"].fillna(0)

In [9]:
df.head()

,Unnamed: 0,Open,High,Low,Close,Volume,Symbol,Predict,MA5,RSI
0,2023-06-15 00:00:00+03:00,27.500000,27.500000,27.500000,27.500000,262214,A1CAP.IS,30.240000,0.000,0.0
1,2023-06-16 00:00:00+03:00,30.240000,30.240000,30.240000,30.240000,1169499,A1CAP.IS,29.940001,0.000,0.0
2,2023-06-20 00:00:00+03:00,31.000000,31.100000,29.940001,29.940001,8064437,A1CAP.IS,26.959999,0.000,0.0
3,2023-06-21 00:00:00+03:00,26.959999,26.959999,26.959999,26.959999,2147415,A1CAP.IS,25.940001,0.000,0.0
4,2023-06-22 00:00:00+03:00,25.620001,27.620001,25.500000,25.940001,71898180,A1CAP.IS,25.900000,28.116,0.0

In [10]:
df.head()

,Unnamed: 0,Open,High,Low,Close,Volume,Symbol,Predict,MA5,RSI
0,2023-06-15 00:00:00+03:00,27.500000,27.500000,27.500000,27.500000,262214,A1CAP.IS,30.240000,0.000,0.0
1,2023-06-16 00:00:00+03:00,30.240000,30.240000,30.240000,30.240000,1169499,A1CAP.IS,29.940001,0.000,0.0
2,2023-06-20 00:00:00+03:00,31.000000,31.100000,29.940001,29.940001,8064437,A1CAP.IS,26.959999,0.000,0.0
3,2023-06-21 00:00:00+03:00,26.959999,26.959999,26.959999,26.959999,2147415,A1CAP.IS,25.940001,0.000,0.0
4,2023-06-22 00:00:00+03:00,25.620001,27.620001,25.500000,25.940001,71898180,A1CAP.IS,25.900000,28.116,0.0

In [11]:
df.to_csv("deneme_Bitcoin.csv", index = False)

In [12]:
import pandas as pd
data = pd.read_csv("deneme_Bitcoin.csv")
df = data.copy()

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

df = df.dropna()

X, y = df.drop(columns=["Predict", "Symbol", "Unnamed: 0"]), df["Predict"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=47)

model_linear = LinearRegression()
model_linear.fit(X_train, y_train)

y_pred_linear_train = model_linear.predict(X_train)
r2_linear_train = r2_score(y_train, y_pred_linear_train)
print("Linear Regression Train R^2 Score:", r2_linear_train)

y_pred_linear_test = model_linear.predict(X_test)
r2_linear_test = r2_score(y_test, y_pred_linear_test)
print("Linear Regression Test R^2 Score:", r2_linear_test)
print("-----------------------------")
model_random_forest = RandomForestRegressor(n_estimators=100, min_samples_split=2)
model_random_forest.fit(X_train, y_train)

y_pred_rf_train = model_random_forest.predict(X_train)
r2_rf_train = r2_score(y_train, y_pred_rf_train)
print("Random Forest Train R^2 Score:", r2_rf_train)

y_pred_rf_test = model_random_forest.predict(X_test)
r2_rf_test = r2_score(y_test, y_pred_rf_test)
print("Random Forest Test R^2 Score:", r2_rf_test)
print("-----------------------------")

model_gradient_boosting = GradientBoostingRegressor(n_estimators=80, min_samples_split=2)
model_gradient_boosting.fit(X_train, y_train)

y_pred_gb_train = model_gradient_boosting.predict(X_train)
r2_gb_train = r2_score(y_train, y_pred_gb_train)
print("Gradient Boosting Train R^2 Score:", r2_gb_train)

y_pred_gb_test = model_gradient_boosting.predict(X_test)
r2_gb_test = r2_score(y_test, y_pred_gb_test)
print("Gradient Boosting Test R^2 Score:", r2_gb_test)

Linear Regression Train R^2 Score: 0.9945002944855964
Linear Regression Test R^2 Score: 0.9971141751800278
-----------------------------
Random Forest Train R^2 Score: 0.9992564591569465
Random Forest Test R^2 Score: 0.9974944177071311
-----------------------------
Gradient Boosting Train R^2 Score: 0.9997687761351137
Gradient Boosting Test R^2 Score: 0.9976799630331733